<!-- navbar-->
<header class="header container bg-white px-0 px-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="/"><span
                class="font-weight-bold text-uppercase text-dark">Shop Monster Card</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- Link--><a class="nav-link active mr-3" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <!-- Link--><a class="nav-link" href="/card">Cards</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/cart"> <i
                            class="fas fa-dolly-flatbed mr-1 text-gray"></i>Cart</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#"> <i
                            class="fas fa-user-alt mr-1 text-gray"></i>Login</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light mt-4">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Shop</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cards</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container p-0">
            <div class="row">
                <!-- SHOP SIDEBAR-->
                <div class="col-lg-3 order-2 order-lg-1">
                    <h5 class="text-uppercase mb-4">Categories</h5>
                    <select class="form-control form-control-sm my-4" id="cardType">
                        <option class="text-info" value="" selected hidden> Card-Type</option>
                        {{#each this.cardType}}
                        <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control form-control-sm my-4" id="attribute">
                        <option class="text-info" value="" selected hidden> Attribute</option>
                        {{#each this.attribute}}
                        <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control form-control-sm my-4" id="type">
                        <option class="text-info" value="" selected hidden> Type</option>
                        {{#each this.type}}
                        <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control form-control-sm my-4" id="level">
                        <option class="text-info" value="" selected hidden> Level</option>
                        
                    </select>

                    <button type="button" class="btn btn-secondary" id="filter">Filter</button>
                    {{!-- <h6 class="text-uppercase my-3">Level</h6>
                    <div class="custom-control custom-checkbox mb-1">
                        <input class="custom-control-input" id="customCheck1" type="checkbox">
                        <label class="custom-control-label text-small" for="customCheck1">1 - 4</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-1">
                        <input class="custom-control-input" id="customCheck2" type="checkbox">
                        <label class="custom-control-label text-small" for="customCheck2">5 - 6</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-1">
                        <input class="custom-control-input" id="customCheck3" type="checkbox">
                        <label class="custom-control-label text-small" for="customCheck3">7 or more</label>
                    </div> --}}

                    {{!-- <h6 class="text-uppercase my-3">Price</h6>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="customRadio1" type="radio" name="customRadio">
                        <label class="custom-control-label text-small" for="customRadio1">All Listings</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="customRadio2" type="radio" name="customRadio">
                        <label class="custom-control-label text-small" for="customRadio2">Best Offer</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="customRadio3" type="radio" name="customRadio">
                        <label class="custom-control-label text-small" for="customRadio3">Auction</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input class="custom-control-input" id="customRadio4" type="radio" name="customRadio">
                        <label class="custom-control-label text-small" for="customRadio4">Buy It Now</label>
                    </div> --}}
                </div>
                <!-- SHOP LISTING-->
                <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row mb-3 align-items-center">
                        <div class="col-lg-8">
                            <div class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search" value="" id="input-search">
                                <button class="btn btn-outline-success my-2 my-sm-0" id="btn-search">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                                <li class="list-inline-item">
                                    <select class="selectpicker ml-auto" name="sorting" data-width="200"
                                        data-style="bs-select-form-control" data-title="Default sorting">
                                        <option value="default">Default sorting</option>
                                        <option value="popularity">Popularity</option>
                                        <option value="low-high">Price: Low to High</option>
                                        <option value="high-low">Price: High to Low</option>
                                    </select>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="row ml-4" id="listCard">
                        <!-- PRODUCT-->
                        {{#each cards}}
                        <div class="col-lg-4 col-sm-6">
                            <div class="product text-center" style="width: 80%;">
                                <div class="mb-3 position-relative d-flex justify-content-center">
                                    <div class="badge text-white bg-danger">New</div>
                                    <a class="d-block" href="/card/{{_id}}"><img class="img-fluid w-100"
                                            src="img/{{image}}" alt="..."></a>
                                    <div class="product-overlay">
                                        <ul class="mb-0 list-inline">
                                            <li class="list-inline-item m-0 p-0"><button
                                                    class="btn btn-sm btn-dark add-card"
                                                    onclick="addCardToCart('{{_id}}')">Add to cart</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6> <a class="reset-anchor" href="detail.html">{{name}}</a></h6>
                                <p class="small text-white">${{price}}</p>
                            </div>
                        </div>
                        {{else}}
                        <div class="d-flex justify-content-center">
                            <h3 class="text-warning">List card is Empty </h3>
                        </div>

                        {{/each}}
                        <!-- PAGINATION-->

                    </div>
                    <div class="d-flex justify-content-center">
                        <ul class="pagination justify-content-center justify-content-lg-end" id="pagination">
                            <li class="page-item active" id="page1"><button class="page-link">1</button></li>
                        </ul>
                    </div>

                </div>
            </div>
    </section>
</div>

{{> footer}}

<script>
    let numCard = +{{numCard}};
    console.log(numCard);

    {{!-- // level
    $(document).ready(function(){
    for(let level = 1; level <= 10; level++) {
        const element = `<option class="text-capitalize" value="${level}">${level}</option>`;
        $("#level").append(element);
    } --}}

    // phan trang
    $(document).ready(function () {
        const numPage = Math.ceil(numCard / 12);
        for (let indexPage = 2; indexPage <= numPage; indexPage++) {
            var html = '<li class="page-item pre"><button class="page-link">' + indexPage + '</button></li>';
            $("#pagination").append(html);
        };
    });

    function getListCardHTML(card) {
        let html = '   <div class="col-lg-4 col-sm-6">  ' +
            '       <div class="product text-center" style="width: 80%;">  ' +
            '           <div class="mb-3 position-relative d-flex justify-content-center">  ' +
            '               <div class="badge text-white bg-danger">status</div>  ' +
            '               <a class="d-block" href="/card/' + card._id + '"><img class="img-fluid w-100" src="img/' + card.image + '" alt="..."></a>  ' +
            '               <div class="product-overlay">  ' +
            '                   <ul class="mb-0 list-inline">  ' +
            '                       <li class="list-inline-item m-0 p-0"><button class="btn btn-sm btn-dark add-card"  ' +
            '                               onclick="addCardToCart(' + card._id + ')">Add to cart</button></li>  ' +
            '                   </ul>  ' +
            '               </div>  ' +
            '           </div>  ' +
            '           <h6> <a class="reset-anchor" href="/card/' + card._id + '">' + card.name + '</a></h6>  ' +
            '           <p class="small text-white">$ ' + card.price + '</p>  ' +
            '       </div>  ' +
            '  </div>  ';
        return html;

    }

    $(document).on("click", ".page-item", function () {
        const formData = {
            keySearch: $("#input-search").val(),
            cardType: $("#cardType").val(),
            attribute: $("#attribute").val(),
            type: $("#type").val(),
            level: $("#level").val(),
            numPage: $(this).text()
        };

        $(".page-item").removeClass("active");
        $(this).addClass("active");
        $.ajax({
            asyc: false,
            type: "POST",
            url: "/card/page",
            data: formData,
            cache: false,
            success: function (res) {
                $("#listCard").empty();
                console.log(res);
                for (let card of res) {
                    const html = getListCardHTML(card);
                    $("#listCard").append(html);
                }
            },
            error: function () {
                console.log('Loi');
            }
        });

    });



    {{!-- $(document).on("click", ".page-item", function () {
        $(".page-item").removeClass("active");
        const numPage = $(this).text();
        $(this).addClass("active");
        console.log(numPage);
        $.ajax({
            asyc: false,
            type: "GET",
            url: "/card/page/" + numPage,
            cache: false,
            success: function (res) {

                $("#listCard").empty();
                console.log(res);
                for (let card of res) {
                    const html = getListCardHTML(card);
                    $("#listCard").append(html);
                }
            },
            error: function () {
                console.log('Loi');
            }
        });

    }); --}}

    // Search
    $(document).on("click", "#btn-search", function () {
        $.ajax({
            asyc: false,
            type: "POST",
            url: "/card/search",
            data: { keySearch: $("#input-search").val()},
            cache: false,
            success: function (res) {
                $("#page1").addClass("active");
                $(".pre").remove();
                const numPage = Math.ceil(res.length / 12);
                for (let indexPage = 2; indexPage <= numPage; indexPage++) {
                    var html = '<li class="page-item pre"><button class="page-link">' + indexPage + '</button></li>';
                    $("#pagination").append(html);
                };

                $("#listCard").empty();
                res = res.splice(0, 12);
                console.log(res);
                for (let card of res) {
                    const html = getListCardHTML(card);
                    $("#listCard").append(html);
                }
            },
            error: function () {
                console.log('Loi');
            }
        });
    });

    // Filter
    $(document).on("click", "#filter", function() {
        const formData = {
            cardType: $("#cardType").val(),
            attribute: $("#attribute").val(),
            type: $("#type").val(),
            level: $("#level").val()
        };

        $.ajax({
            asyc: false,
            type: "POST",
            url: "/card/filter",
            //dataType: "text",
            data: formData,
            cache: false,
            success: function (res) {
                $("#page1").addClass("active");
                $(".pre").remove();
                const numPage = Math.ceil(res.length / 12);
                for (let indexPage = 2; indexPage <= numPage; indexPage++) {
                    var html = '<li class="page-item pre"><button class="page-link">' + indexPage + '</button></li>';
                    $("#pagination").append(html);
                };

                $("#listCard").empty();
                res = res.splice(0, 12);
                console.log(res);
                for (let card of res) {
                    const html = getListCardHTML(card);
                    $("#listCard").append(html);
                }
            },
            error: function () {
                console.log('Loi');
            }
        });
    })
</script>