<!-- navbar-->
<header class="header container bg-white px-0 px-lg-3">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-lg-0"><a class="navbar-brand" href="/"><span
                class="font-weight-bold text-uppercase text-dark">Shop Monster Card</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!-- Link--><a class="nav-link active mr-3" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <!-- Link--><a class="nav-link" href="/card">Cards</a>
                </li>
                <li class="nav-item">
                    <!-- Link--><a class="nav-link" href="/users/signup">Signup</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/cart"> <i
                            class="fa fa-shopping-cart mr-1 text-gray"></i>Cart</a>
                </li>

                <li class="nav-item">
                    
                        {{#if user}}
                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" id="login-text" href="#" role="button"
                                id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a id="profile-btn" class="dropdown-item" href="#">Profile</a>
                                <a id="logout-btn" class="dropdown-item" href="#">Logout</a>
                        
                            </div>
                        </div>

                        {{else}}
                        <a class="nav-link" id="dropdown-user" href="/users/login"><span id="login-text"></span> <i class="fas fa-user-alt mr-1 text-gray">
                        </i>
                        
                            Login
                        </span>

                        {{/if}}
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light mt-4">
        <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                <div class="col-lg-6">
                    <h1 class="h2 text-uppercase mb-0">Shop</h1>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cards</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container p-0">
            <div class="row">
                <!-- SHOP SIDEBAR-->
                <div class="col-lg-3 order-2 order-lg-1">
                    <h5 class="text-uppercase mb-4">Categories</h5>
                    <select class="form-control form-control-sm my-4" id="cardType">
                        <option class="text-info" value="" selected hidden> Card-Type</option>
                        {{#each this.cardType}}
                        <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control form-control-sm my-4" id="attribute">
                        <option class="text-info" value="" selected hidden> Attribute</option>
                        {{#each this.attribute}}
                        <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control form-control-sm my-4" id="type">
                        <option class="text-info" value="" selected hidden> Type</option>
                        {{#each this.type}}
                        <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <select class="form-control form-control-sm my-4" id="level">
                        <option class="text-info" value="" selected hidden> Level</option>

                    </select>

                    <button type="button" class="btn btn-secondary" id="filter">Filter</button>
                </div>
                <!-- SHOP LISTING-->
                <div class="col-lg-9 order-1 order-lg-2 mb-5 mb-lg-0">
                    <div class="row mb-3 align-items-center">
                        <div class="col-lg-8">
                            <div class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search" value="" id="input-search">
                                <button class="btn btn-outline-success my-2 my-sm-0" id="btn-search">Search</button>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                                <li class="list-inline-item">
                                    <select class="selectpicker ml-auto" name="sorting" data-width="200"
                                        data-style="bs-select-form-control" data-title="Default sorting" id="sort-type">
                                        <option value="sort-default">Default sorting</option>
                                        <option value="sort-alphabet">Alphabet: A - Z</option>
                                        <option value="sort-price-in">Price: increase</option>
                                        <option value="sort-price-de">Price: decrease</option>
                                    </select>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="row ml-4" id="listCard">
                        <!-- PRODUCT-->
                        {{#each cards}}
                        <div class="col-lg-4 col-sm-6">
                            <div class="product text-center" style="width: 80%;">
                                <div class="mb-3 position-relative d-flex justify-content-center">
                                    <div class="badge text-white bg-danger">New</div>
                                    <a class="d-block" href="/card/detail/{{_id}}"><img class="img-fluid w-100"
                                            src="img/{{image}}" alt="..."></a>
                                    <div class="product-overlay">
                                        <ul class="mb-0 list-inline">
                                            <li class="list-inline-item m-0 p-0"><button
                                                    class="btn btn-sm btn-dark add-card"
                                                    onclick="addCardToCart('{{_id}}')">Add to cart</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <h6> <a class="reset-anchor" href="detail.html">{{name}}</a></h6>
                                <p class="small text-white">${{price}}</p>
                            </div>
                        </div>
                        {{else}}
                        <div class="d-flex justify-content-center">
                            <h3 class="text-warning">List card is Empty </h3>
                        </div>

                        {{/each}}
                        <!-- PAGINATION-->

                    </div>
                    <div class="d-flex justify-content-center">
                        <ul class="pagination justify-content-center justify-content-lg-end" id="pagination">
                            <li class="page-item active" id="page1"><button class="page-link">1</button></li>
                        </ul>
                    </div>

                </div>
            </div>
    </section>
</div>

{{> footer}}

<script>
    let numCard = {{ numCard }};
    console.log(numCard);

    // phan trang
    $(document).ready(function () {
        const numPage = Math.ceil(numCard / 12);
        for (let indexPage = 2; indexPage <= numPage; indexPage++) {
            var html = '<li class="page-item pre"><button class="page-link">' + indexPage + '</button></li>';
            $("#pagination").append(html);
        };
    });

    function alphabet(a, b) {
        var nameA = a.name.toLowerCase(), nameB = b.name.toLowerCase();
        if (nameA < nameB) //sort string ascending
            return -1;
        if (nameA > nameB)
            return 1;
        return 0; //default return value (no sorting)
    }

    function priceIn(a, b) {
        if (a.price < b.price) //sort string ascending
            return -1;
        if (a.price > b.price)
            return 1;
        return 0; //default return value (no sorting)
    }

    function priceDe(a, b) {
        if (a.price > b.price) //sort string ascending
            return -1;
        if (a.price < b.price)
            return 1;
        return 0; //default return value (no sorting)
    }
</script>
<script>
    const url = window.location.href;
    let user = {{{ json user }}}
    if (user) {
        $('#login-text').html(user.username)
           
         $('#dropdown-user').attr('href', '#');
        $('#profile-btn').click(function(){
            window.location.href = '/users/profile';
        });
        $('#logout-btn').click(function(){
            alert('/users/logout')
            window.location.href = '/users/logout';
        });
    }
</script>
<script src="/js/card.js"></script>